@import url('https://fonts.googleapis.com/css?family=Aleo|Fredoka+One');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #5AA5E8;
    z-index: 1;
}
#main{
    width: 80%;
    /* height: 2000px; */
    background-color: #ffffff;
    margin: 0 auto;
    z-index: 2;

}
#container{
    background-color: rgba(0, 173, 249, .04);
    width: 100%;
    height: 100%;
}
.title{
    font-family: 'Fredoka One', cursive;
    font-weight: normal;
    font-size: 114px;
    text-align: center;
    padding-top: 20px;
    width: 100%;
}
.game.title{
    font-size: 80px;
    position: relative;
    left: 5%;
}
.title-sub{
    font-family: 'Aleo', serif;
    font-weight: bold;
    font-size: 50px;
    color: #707070;
    text-align: center;
    padding-top: 20px;
}
.gameContainer{
    display: grid;
    width: fit-content;
    margin: 0 auto;
    margin-top: 80px;
    grid-template-rows: repeat(2, minmax(100px, 440px));
    grid-template-columns: repeat(2, minmax(100px, 440px));
    grid-row-gap: 80px;
    grid-column-gap: 80px;
}
.TTT::after{
    background-image: url(./Img/tic_tac_toe.gif);
}
.RPS::after{
    background-image: url(./Img/rock\,_paper_larger.jpg);
}
.GG::after{
    background-image: url(./Img/question.png);
}
.AG::after{
    background-image: url(./Img/boombox_background.jpg)
}
.card{
    width:  100%;
    height: auto;
    border-radius: 69px;
    box-shadow: 1px 3px 6px grey;
    position: relative;
}
.card::after{
    content: "";
    border-radius: 69px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 3;
}
.card:hover:after{
    opacity: 0.7;
    z-index: 40;
    box-shadow: 3px 9px 6px grey;
    cursor: pointer;
}
.card-title{
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
    opacity: 1;
    color: #000000;
    font-family: 'Aleo', serif;
    font-weight: bold;
}
.card-description{
    text-align: center;
    padding: 0px 10px;
    padding-top: 30px;
    font-size: 30px;
    opacity: 1;
    color: #000000;
    font-family: 'Aleo', serif;
    font-weight: normal;
}
.titleBar{
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.homeButton{
    width: 163px;
    height: 59px;
    background-color: #5AA5E8;
    border: 0;
    border-radius: 24px;
    color: white;
    font-family: 'Aleo', serif;
    font-size: 25px;
    box-shadow: 0px 3px 6px gray;
    z-index: 10;
}
.homeButton:hover{
    background-color: #4178AA;
    cursor: pointer;
}
@media (max-width: 1030px){
    .gameContainer{
        grid-template-rows: repeat(4, minmax(auto, 440px));
        grid-template-columns: repeat(1, minmax(auto, 440px));
    }
    .title{
        font-size: 12vw;
    }
    .title-sub{
        font-size: 5vw;
    }
}