.computer{
    font-size: 45px;
    font-family: 'Aleo', serif;
    display: inline-block;
    color: #FF0000;
}
.player{
    font-size: 45px;
    font-family: 'Aleo', serif;
    display: inline-block;
    color: #5AA5E8;
}
#TTTGrid{
    width: fit-content;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-rows: repeat(3, minmax(50px,200px));
    grid-template-columns: repeat(3, minmax(50px,200px));
}
.square{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: url(./Img/x.png);
    background-position: center;
}
#score-container{
    width: 400px;
    margin: 0 auto;
    padding-top: 50px;
}

#score-title{
    padding-top: 25px;
    font-size: 30px;
    font-family: 'Aleo', serif;
    color: #FF0000;
    text-align: center;
}
#RPS-container{
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    padding: 0px 50px;
    padding-top: 100px;
    /* height: 500px; */
}
.RPS-imgs{
    display: block;
    width: 280px;
    height: 280px;
    margin: 0 auto;
    border: 0;
}
.score-div{
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin: 0 auto;
}
.RPS-player-score{
    font-size: 40px;
    font-family: 'Aleo', serif;
}
#RPS-winner{
    font-size: 40px;
    font-family: 'Aleo', serif;
    margin: 170px auto;
    width: fit-content;
}
#RPS-button-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 200px;

}
.RPS-button{
    width: 200px;
    height: 70px;
    border: 0;
    background-color: #00ADF9;
    color: white;
    font-family: 'Aleo', serif;
    font-size: 25px;
    border-radius: 13px;
}
.RPS-button:hover{
    background-color: #4178AA;
    cursor: pointer; 
}

@media(max-width: 900px){
    .title.game{
        font-size: 8vw;
        left: 0;
    }
    .computer{
        font-size: 6vw;
    }
    .player{
        font-size: 6vw;
    }
    #score-container{
        width: 80%;
    }
}